*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: black;
    position: relative;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.head{
    margin-left: 8%;
    margin-top: 15%;
}

.head h1{
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

span{
    color: red;
    
}

.head p{
    color: whitesmoke;
    line-height: 22px;
}

.head a{
    background: whitesmoke;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .girl{
    left: 45%;
}

.social{
    margin-left: 8%;
    margin-top: 100px;
}

.social a{
    font-size: 30px;
    color: white;
    margin-right: 20px;
}

.social a:hover{
    color: red;
}
::selection{
    background-color: var(--primary-color);
    color: #fff;
}
.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.section-title {
    position: relative;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.about{
    padding-top: 1000px;
    width: 100%;
    height: 100vh;
    display: flex;
    /* background-color: #161922;  */
    justify-content: center;
    align-items: center;
}

.about .content img{
    height: auto;
    width: 500px;
    max-width: 100%;
    padding-left: 200px;
}

.text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.text h2{
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.text h5{
    
    color: rgb(42, 43, 78);
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.text p{
    
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}
@media screen and (max-width:768px){
    .about{
        
        width: 100%;
        padding-left: 100px;
        margin-top: 300px;
    }
}
@media screen and (max-width:768px){
    .about .content img{
        margin-bottom: 100px;
        padding-top: 200px;
        padding-left: inherit;
    }
    
}
.skills{

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 250px;
 
}
@media screen and (max-width:750px) {
    .skills{
        padding-top: 700px;
        padding-right: 20px;
    }
}

.skills h2{
    top: 10px;
    padding-left: 500px;
    
}

.skill_icons{
    margin-right: 15px;
}

.design{
    margin-left: 25px;
    margin-bottom: 10px;
    margin-top: -28px;
}
.wrapper{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .card{
    background: #fff;
    width: calc(33% - 20px);
    height: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0px 10px 15px white(0,0,0,0.1);
  }
  .wrapper .card .circle{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: default;
  }
  .card .circle .box,
  .card .circle .box span{
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .card .circle .box{
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.2s;
  }
  .card .circle:hover .box{
    transform: translate(-50%, -50%) scale(0.91);
  }
  .card .circle .box span,
  .wrapper .card .text{
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .circle .box span{
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 600;
    transform: translate(-45%, -45%);
    transition: all 0.1s;
  }
  .card .circle:hover .box span{
    transform: translate(-45%, -45%) scale(1.09);
  }
  .card .text{
    font-size: 20px;
    font-weight: 600;
  }
  @media screen and (max-width:750px){
    .skills h2{
        padding-left: 20px;
    }  
    .wrapper{
      max-width: 700px;
      padding-left: 100px;
    }
    .wrapper .card{
      width: calc(50% - 20px);
      margin-bottom: 20px;
    }
    .card{
        padding: 0;
    }
  }
  @media(max-width: 505px){
    .wrapper{
      max-width: 400px;
    }
    .wrapper .card{
      width: 100%;
    }
  }

  .container{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 50px;

  }

  .workcard{
      background: black;
      width: 270px;
      
      margin: 10px;
      border-radius: 25px;
  }

  .card-image{
      height: 170px;
      margin-bottom: 15px;
      background-size: cover;
      border-radius: 25px 25px 0 0;

  }

  .minion{
      background-image: url(./images/Minions-1.jpg);
      
  }

  .pacman{
      background-image: url(./images/pacman.png);
  }

  .randomball{
      background-image: url(./images/randomball.jpg);
  }

  .stops{
      background-image: url(./images/bus\ stops.png);
  }

  .workcard p{
      padding: 10px;
  }
  .workcard h3{
      padding: 10px;
  }

  .workcard a{
      background-color: black;
      color: white;
      padding: 15px 20px;
      display: block;
      text-align: center;
      margin: 20px 50px;
      text-decoration: none;
  }

  .workcard:hover{
      background-color: rgb(62, 62, 62);
      color: white;
      cursor: pointer;
      transform: scale(1.03);
      transition: all is ease;
  }
  @media screen and (max-width:750px){
      .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 50px;
        text-align: center;
        padding-right: inherit;
      }
      
  }


  .contactus{
      position: relative;
      width: 100%;
      padding: 40px 100px;

  }
  .contactus .title{
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      padding-left: 100px;
  }
  .contactus .title .h2{
      color: #fff;
      font-weight: 500;
  }
  
  .form {
      grid-area: form;
  }
  .info{
      grid-area: info;
  }
  .map{
      grid-area: map;
  }
  .contact{
    background: #D1D0CE; 
    padding-left: 100px;
} 
.contact h2{
    text-align: center;
    margin-top: 100px;
}
  .contacts{
      padding: 40px;
      background: #fff;
      box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
  }
  .boxes{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info" "form map";
    grid-gap: 20px;
    margin-top: 20px;
}
.contacts h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin: 10px;

}
.formBox{
    position: relative;
    width: 100%;
}
.formBox .row50{
    display: flex;
    gap: 20px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.formBox .row100 .inputBox{
    width: 100%;
}
.inputBox span{
    color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}
.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}
.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputBox input[type="submit"]{
    background: #ff578b;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}
.inputBox ::placeholder{
    color: #999;
}
.info{
    background: #0e3959;
}
.info h3{
    color: #fff;
}
.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.info .infoBox div p{
    color: #fff;
    font-size: 1.1em;
}
.info .infoBox div a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}
.map{
    padding: 0;
}
.map iframe{
    width: 100%;
    height: 100%;
}

@media (max-width:768px) {
    .contact{
        background: #03a9f5;
        padding-left: 80px;
    }
    .contactus{
        padding: 10px;
    }
    .contactus .title{
        padding-left: 30px;
    }
    .boxes{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "form"
            "info"
            "map";
        display: block;    
    }
    .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox{
        width: 100%;
    }
    .contacts{
        padding: 10px;
    }
    .map{
        min-height: 150px;
        padding: 0;
    }
}

footer{
    background: #111;
    height: auto;
    width: 99vw;
    font-family: Open sans-serif;
    padding-top: 10px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    width: 99vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

@media (max-width:768px){
    
    .footer-bottom p{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
        text-align: end;
    }
}